<div>
  <form (ngSubmit)="onSubmit(form.value)" #form='ngForm'>
    <p>
      <label for="startTime">Event Starts:</label>
      <input id="startTime" name="startTime" type="datetime-local" ngModel required/>
    </p>

    <p>
      <label for="endTime">Event Ends:</label>
      <input id="endTime" name="endTime" type="datetime-local" ngModel required/>
    </p>

    <p>
      <label for="timeZone">Event Timezone:</label>
      <select id="timeZone" name="timeZone" ngModel>
        <option *ngFor="let zone of timeZones" [value]="zone.value">
          {{ zone.name }}
        </option>
      </select>
    </p>
    <button type="submit">Display Times!</button>
  </form>
</div>

<div class="error-box">
  <span *ngIf='error'>{{error}}</span>
</div>

<div *ngIf='submitted' id="final">
  <p>This event starts on:</p><p>{{start.toString()}}</p><p>and ends on</p><p>{{end.toString()}}</p>
</div>
